.password-container {
    position: relative;
}

#togglePassword {
    position: absolute;
    right: 10px; /* Adjust position as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
