/* Add this CSS to center the text in the carousel caption */
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    
}

/* Additional styling for the carousel control buttons */
.carousel-control-prev, .carousel-control-next {
    width: 5%;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
}
