{% extends "header.html" %}
{% block content %}
{% include "sidebar.html" %}
<script src="https://cdn.tailwindcss.com"></script>
<div class=" sm:ml-64">
    <div class="p-2 border-2">
        <div class="slider-item" style="background-color:lightgrey ; background-repeat: no-repeat; background-size:cover;">
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                   Division
                </th>
                <th scope="col" class="px-6 py-3">
                    Project Type
                </th>
                <th scope="col" class="px-6 py-3">
                     Status
                </th>
            </tr>
        </thead>
        <tbody>
            {% for division in divisions %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4"> {{division.id}}</td>
                <td class="px-6 py-4"> {{division.name}}</td>
                <td class="px-6 py-4">{{division.project_type}}</td>
                <td class="px-6 py-4">{{division.Project_list}}</td>
            </tr>
            {% endfor %}
           
        </tbody>
    </table>
</div>
</div>
</div>
{% include "footer.html" %}
{% endblock content %}