{% extends 'header.html' %}

{% block content %}
{% include "sidebar.html" %}

<div class="container mx-auto px-4 py-6">
    <h1 class="text-2xl font-semibold text-gray-800">{{ location.name }}</h1>
    <p class="mt-2 text-gray-700"><strong>Description:</strong> {{ location.description }}</p>
    <p class="mt-2 text-gray-600"><strong>Coordinates:</strong> {{ location.latitude }}, {{ location.longitude }}</p>
    <p class="mt-2 text-gray-600"><strong>project:</strong> {{ location.project }}</p>
</div>

</div>

</div>
{% include "footer.html" %}
{% endblock %}
