{% extends 'header.html' %}
{% load static %}

{% block content %}
{% include "sidebar.html" %}
<div class="ml-64 w-[calc(100%-16rem)] min-h-screen bg-gray-100 p-8 flex justify-center items-center">

<div class="container mx-auto px-4 py-6">
    <h1 class="text-2xl font-semibold text-gray-800">Available Tenders</h1>

    <!-- Add Tender Button -->
    <div class="my-4">
        <a href="{% url 'add_tender' %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
            + Add Tender
        </a>
    </div>

    <div class="mt-4">
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr class="bg-gray-800 text-white">
                    <th class="py-2 px-4 border">Title</th>
                    <th class="py-2 px-4 border">project</th>
                    <th class="py-2 px-4 border">Description</th>
                    <th class="py-2 px-4 border">Opening Date</th>
                    <th class="py-2 px-4 border">Closing Date</th>
                    <th class="py-2 px-4 border">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tender in tenders %}
                <tr class="border text-gray-700">
                    <td class="py-2 px-4 border">{{ tender.title }}</td>
                    <td class="py-2 px-4 border">{{ tender.project }}</td>
                    <td class="py-2 px-4 border">{{ tender.description }}</td>
                    <td class="py-2 px-4 border">{{ tender.opening_date }}</td>
                    <td class="py-2 px-4 border">{{ tender.closing_date }}</td>
                    <td class="py-2 px-4 border flex gap-2">
                        <a href="{% url 'tender_detail' tender.id %}" class="text-blue-500 hover:underline">View</a>
                        <a href="{% url 'update_tender' tender.id %}" class="text-green-500 hover:underline">Edit</a>
                        <a href="{% url 'delete_tender' tender.id %}" class="text-red-500 hover:underline">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center py-4">No tenders available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
{% include "footer.html" %}
{% endblock %}
